<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/layout}">
<title layout:fragment="title">You Profile CMS</title>
<section layout:fragment="content">
    <p th:if="${param.success}">Login Success</p>
    <p th:if="${param.create}">Register Success</p>
    <table>
        <tr>
            <th>Id</th>
            <td th:text="${#authentication.principal.attributes['sub']}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${#authentication.principal.attributes['email']}"></td>
        </tr>
        <tr>
            <th>Given Name</th>
            <td th:text="${#authentication.principal.attributes['given_name']}"></td>
        </tr>
        <tr>
            <th>Family Name</th>
            <td th:text="${#authentication.principal.attributes['family_name']}"></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${#authentication.principal.attributes['name']}"></td>
        </tr>
    </table>
</section>
</html>
