<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xóa sản phẩm</title>
</head>
<body>
    <h2>Xóa sản phẩm</h2>
    <p>Bạn có chắc muốn xóa sản phẩm:</p>
    <p><b>ID:</b> <span th:text="${product.productId}"></span></p>
    <p><b>Tên:</b> <span th:text="${product.productName}"></span></p>
    <form th:action="@{/admin/product/delete/{id}(id=${product.productId})}" method="post">
        <button type="submit">XÓA NGAY</button>
        <a href="/product">Hủy</a>
    </form>
    </body>
</html>
